*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Catamaran', sans-serif;
	font-color: #EA6B35;
	margin: 0px;
	padding: 0px

}

.navbar {
	background-color: #023047;
}
.navbar-brand img{
	height: 2rem;
}

.navbar-nav li{
	padding-right: 0.7rem;
	color: white;
}

.navbar-dark .navbar-nav .nav-link {
	color:  white;
	padding-top: 0.5rem;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover  {
	background-color: #EA6B35;
}

.dropdown a:hover{
	color: #EA6B35;
}


div h2{
	color: #f46b45;
	font-weight: bold;
	font-size: 50px;
}

div p strong {
	color:  red;
}


.jumbotron {
	background-color: #023047;
	display: absolute;
	height:  100vh;
}


.jumbotron img{
	background-color: #023047;
	display: absolute;
	height:  500px;
}


div .prof{
	height: 80%%;
	display: absolute;
}


button{
	position: flex;
	align-items: center;
	justify-content: center;
    top:50%;
    background-color: #023047;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:10px;
    min-height:30px; 
    min-width: 120px;;
}
button:hover{
	background-color:  #EA6B35 ;
  	transition: 0.5s;
}

   
.wrapper{
	display: flex;
	width:  70%;
	justify-content: space-around;
}

.card{
	justify-content: center;
	width:  400px;
	height: 400px;
	padding: 2rem 1rem;
	position:  relative;
	display: flex;
	align-items: flex-end;
	box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
	transition:  0.5s ease-in-out;

}

.card:hover{
	transform: translateY(20px);
}

.card:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;width: 100%;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, rgb(244, 107, 69), rgb(238, 168, 73));
	z-index: 2;
	transition: 0.5s all;
	opacity: 0;
}

.card:hover:before{
	opacity: 1;
}

.card img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;

}

.card .info{
	position: relative;
	z-index: 3;
	color: #ffff;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
}

.card:hover .info{
	opacity: 1;
	transform: translateY(0px);
	transition: 0.5s all;
}

.contact4 {
	position: relative;
}

.contact4 h1{
	text-align: center;
}

.contact4 .form-group{
	color: #ffff;
}

.contact4 .form-group input{
	color: #023047;
}
.contact4 .right-image {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  top: 100px;
}

.contact4.bg-info {
    background-color: #023047 !important;
}

.contact4 .text-inverse {
    color: #3e4555 !important;
}


@media (min-width: 1024px) {
	.contact4 .contact-box {
    padding: 80px 105px 80px 0px;
	}
}

@media (max-width: 767px) {
	.contact4 .contact-box {
    padding-left: 15px;
    padding-right: 15px;
	}
}

@media (max-width: 1023px) {
	.contact4 .right-image {
			position: relative;
			bottom: -95px;
	}
}


.pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}


.pre-footer {
	background-color: #2C3333;
	color: white;
}

.button {
	background-color: #023047;
}